*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
.container{
    padding: 50px 50px 50px 50px;
    
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:50px;
    align-items: stretch;
}

@media only screen and (max-width:360px){
    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-gap:50px;
        align-items: stretch;
    }
    .container{
        padding: 5px;
    }
}

.card{
    position: relative;
    margin: 30px 0px 20px 0px;
    width: 100%;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow:  0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.image-header{
    background-color: black;
    position: relative;
}

.image-header img{
    width: 100%;
    opacity: 0.7;

}
